html,
body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
}


/* cover */

.mainImage {
    background: rgb(249, 246, 242) url('/images/poster3.jpg') center center no-repeat;
    color: white;
    height: 100vh;
    text-align: center;
    background-size: contain;

    background-size: cover;

    position: fixed;

}

.rightSidebar {
    height: 100vh;
}

.rightSidebar > div {
    position: absolute;
}

h1 {
    color: #f04c23;
    /*        color: #d3531a;*/
    font-weight: 900;
    letter-spacing: 2px;
       font-size: 4.2rem;
    margin: 0;
    padding: 0 0 0 16%;
    text-align: left;
    text-transform: uppercase;
}

.toptext {
    margin-top: 80px;
}

.box1-home p {
    padding: 0% 16% 0;
    text-align: left;
    color: #a4adae;
    font-weight: 300;
    font-size: 2.2rem;;
    color: #6c6d6d;
    font-weight: 700;
    letter-spacing: 1px
}

.box2-home p {
    padding: 12% 16% 0;
    text-align: left;
    font-size: 1.8rem;
    color: #a4adae;
    font-weight: 300;
    overflow: hidden
}

.md-button {
    min-height: 5rem;
    width: 10rem;
    font-size: 1.5rem;
    margin: 10px auto 20px;
}

rightSidebar {
    max-height: 100vh;
}

#cover {
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.btn-lg {
    padding: .85rem 2.5rem;
    font-size: 1rem;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #c42d2d;
    color: #c42d2d
}

img {
    max-width: 100%;
}


/*ANIMATE HAMBURGER*/

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 38px;
    height: 45px;
    position: fixed;
    right: 20px;
    margin: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 99999;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 99999;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

#nav-icon4 {}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
    left: 8px;
}


/*END ANIMATE HAMBURGER */


/* MENU */

#pushMenu {
   width: 17.3%;
    background: #89c2f4;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -101%;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
    height: 100vh;
    border-left: 23px solid rgba(255, 227, 236, 0.23);
    min-width: 220px;
}

#pushMenu strong {
    color: #48aaa9;
}

.head {
    margin-top: 10px;
    margin-right: 1%;

}

.head > li {
    margin: 0 0 10px 7%;
    font-size: 1.8rem;
    color: #fff!important;
    display: block;
    border: 5px solid transparent;
    transition: none;
    top: 0;
    left: 0;
    padding: 4px 10px 7px;
    width: 80%;
    text-align: center;
        letter-spacing: 2px;
    text-transform: lowercase;
}

.head > li:hover,
a:visited,
a:active {
    text-decoration: none;
        color: rgb(255, 255, 255);
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.head > li:hover {
       border-color: rgb(252, 252, 252);
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    top: -10px;
    left: -10px;
    transition: top .15s ease .1s, left .15s ease .1s, box-shadow .15s;
}

a:link {
    text-decoration: none;
}



.sidenav {
    position: absolute;
}

.contact-block {
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: 20px;
    text-align: left;
    margin-left: 10%;
    color: #3e3e3e;
}

.contact-block a,
.contact-block span {
    display: block;
}

.social-icons {
    position: absolute;
    bottom: 40px;
    left: 60px;
}

.social-icons img {
    width: 35px;
    margin: 0 5px;
}
hr {

    border-top: 4px solid #eee;
}


/* END MENU*/

#modal {
    /* the modal is on top of the main content and covers the entire wieport*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    /* hide the modal window */
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}

#modal.is-visible {
    /* show the modal window */
    opacity: 1;
    visibility: visible;
}

#modal .content {
    /* center modal content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* content basic style */
    width: 90%;
    max-width: 400px;
    padding: 2em;
    background-color: #FFF;
}

#modal h2 {
    margin-top: 0;
}

#modal p {
    line-height: 1.3;
}

#modal button {
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    color: #FFF;
    background-color: #40508F;
    padding: .5em .8em;
    font-size: 1.8rem;
    font-weight: bold;
    transition: background .3s;
}

#modal button:hover {
    background-color: #333545;
}

.text p {
    padding: 5%;
    font-size: 1.2rem;
    font-weight: 400;
    color: #a4adae;
}


/*BANDS section*/

#bands-front {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 999;
    top: 0;
    transition: .5s;
}

.band-text h5 {
    font-size: 60px;
    color: #736d6d;
    font-weight: 300;
    letter-spacing: -3px;
    /*    background: #b64e20;*/
    padding: 5px;
    width: auto;
}

.band-text {
    color: #bbb;
    font-size: 1.9rem;
    padding: 10%;
    margin-top: 40px;
    font-weight: 300;
}

.band-text p {
    font-size: 1.7rem;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    letter-spacing: 1px;
    line-height: 3rem;
}

.band-text li.selected {
    display: block;
}

.band-text li {
    display: none;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

.portfolio .mask {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(41, 44, 49, 0.55);
}

.portfolio .hover {
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio img {
    display: block;
}

.band-description {
    position: fixed;

        margin-left: 50%;
}

.portfolio li {
    display: block;
    float: left;
    width: 50%;
    position: relative;
}

.portfolio {
    position: relative;
    padding: 0;
}

ul {
    list-style: none outside;
}

.about-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8%;
    width: 100%;
    float: left;
}

.portfolio .mask1 {
    background-color: #7e4f4f;
    opacity: 0.5
}

.portfolio .mask3 {
    background-color: #7e4f4f;
    background: #f04c23;
    opacity: 0.5;
}

.portfolio .mask5 {
    background: #f04c23;
    opacity: 0.5;
    color: white;
}

.portfolio .text.selected {
    opacity: 1;
}

.portfolio .mask4 {
    background: rgba(41, 44, 49, 0.35);
}

.portfolio .mask6 {
    background: #004c69;
    opacity: 0.5;
}

.portfolio .mask7 {
    background: ;
    opacity: 0.5;
}

.portfolio .mask8 {
    background: rgba(41, 202, 169, 0.72);
    opacity: 0.5;
}

.portfolio .text {
    color: #fff;
    padding: 25px 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    justify-content: center;
    opacity: 0.4;
    display: none;
}

.portfolio p {
    font-size: 5.5rem;
    line-height: 105px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    font-family: "Font";
}


/* END BANDS section */


/* ABOUT section*/

#about {
    background: #fff;
}


/* LINE UP section */

.section-lineup {
       font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 300;
    color: #aaa;
    letter-spacing: 1px;
    float: left;
/*    padding: 3% 10%;*/
    color: #6f6161;
        margin: 3% 12%;
}
section-lineup p{
    margin: 0;
}

/*
.section-lineup:nth-of-type(1),
.section-lineup:nth-of-type(1) p {
    color: #fff;
}
*/

.section-lineup h6 {
    font-family: 'Font2';
    font-size: 3rem;
}

.text-lineup-introduce {
    font-size: 1.7rem;
    line-height: 2.9rem;
    font-weight: 300;
    color: #777777;
    margin: 5% 0 0;
    padding: 0 12%;
}

.text-lineup {
    color: #777777;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 3.2rem;
}


/*WYJEBAC JEDNO ALBO DRUGIE*/

.text-concert {
    max-width: 400px;
    height: 100%;
    padding: 0% 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(191, 94, 139, 0.94);
    margin-left: 6%;
}

.text-concert h5 {
    width: auto;
    color: #fff;
}

.text-concert {
    background: #fff;
}

.text-concert h5 {
    color: #967d7d;
    font-size: 2.3rem;
    font-family: 'Font2';
    letter-spacing: 4px;
    width: 300px;
    top: 5px;
}

.text-concert p {
    color: #777777;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 3rem;
}

.concert-date p {
    margin: 0;
    text-align: left;
        padding: 0px 0 15px;
}

h6 {
    font-size: 4.5rem;
}

h5 {
    font-size: 3rem;
    color: #5f5f5f;
    margin: 0;
    padding: 3px 0;
    width: 300px;
    margin: 6% 0 2%;
}

h5:after {
    content: "";
    display: inline-block;
    margin-bottom: -3px;
    margin-left: 4px;
    color: #1be3c4;
    border-bottom: 4px solid #ff5722;
    width: 30px;
}

.text-concert h5:after {
    margin-left: -4px;
}

.text-lineup span {
    margin-right: 20px;
}


/* END LINE UP */

.move-back-container {
    left: 0;
    transition: 0.5s;
    position: relative;
    /*    transition: transform .75s cubic-bezier(.19, 1, .22, 1);*/
}

.move-container {
    /*    -webkit-transform: translate3d(-40%, 0, 0);*/
    /*    transform: translate3d(-40%, 0, 0);*/
    /*
    transition: -webkit-transform .75s cubic-bezier(.19, 1, .22, 1);
    transition: transform .75s cubic-bezier(.19, 1, .22, 1);
*/
    position: relative;
    left: -10%;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    .portfolio li {
        width: 50%;
    }
}




/* section NEWS */
img.fbImg1,
img.fbImg2,
img.fbImg3,
img.fbImg4{
  width: 250px;
  height: 250px;
}

.fbImg1,
.fbImg3{
  float: right;
}



p.fbMsg1,
p.fbMsg2,
p.fbMsg3,
p.fbMsg4{
      font-size: 1.7rem;
    font-weight: 300;
    color: #777777;
    line-height: 3rem;
}


p.fbMsg2,
p.fbMsg4{
  text-align: right;
  float: right;
  margin-left: 130px;
}

p.fbMsg1,
p.fbMsg3 {
  margin-right: 130px;
}


.fbTitle2,
.fbTitle4{
  float: right;
        color: #d3531a;
}
.fbTitle1,
.fbTitle2,
.fbTitle3,
.fbTitle4{
     color: #d3531a;
    font-size: 2.4rem;
}


.fbNews {
  padding-top: 50px;
  padding-bottom: 30px;
}
.fbInfo{
  padding-top: 40px;
}
.row {
  background: #fff;
}

.news{
  padding-top: 60px;
  padding-left: 15px;
}

@media (max-width: 1345px){
  p.fbMsg1,
  p.fbMsg2,
  p.fbMsg3,
  p.fbMsg4{
    margin: 0 0 0 0;
  }
}


@media (max-width: 1100px) and (min-width: 787px){
  .news-container{
    width: 50%;
    float: right;
  }

  .news1,
  .news3{
    display: flex;
    flex-direction: column;
  }

  .news2,
  .news4{
    display: flex;
    flex-direction: column-reverse;
  }

  .fbNews,
  .fbInfo{
    margin: 0 auto;
  }

  p.fbMsg4,
  p.fbMsg2{
    text-align: left;
  }



  h3.fbTitle4,
  h3.fbTitle2{
    float: left;
  }

  .fbInfo{
    padding-top: 0;
  }

}

@media (max-width: 786px){
  .news-container{
    width: 100%;
  }
  p.fbMsg4,
  p.fbMsg2{
    margin-left: 100px;
  }
  p.fbMsg1,
  p.fbMsg3{
    margin-right: 100px;
  }
}

@media (max-width: 700px){
  .news1,
  .news3{
    display: flex;
    flex-direction: column;
  }

  .news2,
  .news4{
    display: flex;
    flex-direction: column-reverse;
  }

  .fbNews,
  .fbInfo{
    margin: 0 auto;

  }
  p.fbMsg4,
  p.fbMsg2{
    text-align: left;
    margin: 0 0 0 0;
  }

  p.fbMsg1,
  p.fbMsg3{
    margin: 0 0 0 0;
  }

  .fbImg1,
  .fbImg3{
    float: left;
  }


  h3.fbTitle4,
  h3.fbTitle2{
    float: left;
  }

  .fbInfo{
    padding-top: 0;
  }
}
/* MAP */
#mapSector {
    margin-top: 10%;
}
#map {
    width: 100%;
    height: 100vh
}
.text-map {
    font-size: 1.8rem;
    padding: 10% 10%;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
}
.text-map span:first-of-type {
    font-weight: 700;
}
.text-map p:nth-of-type(1) span:nth-of-type(1) {
    font-weight: 700;
    color: black;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 2568px) {
    body {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
    padding-left: 0;
    padding-right: 0;
}

/* Space out the masthead */
.header {
    margin-bottom: 30px;
}
.jumbotron {
    border-bottom: 0;
}
body.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}
body.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;
}


/* SPONSORS */
.sponsors {
    background: #fff;
    padding: 4%;
}
.sponsors-galerry img {
    height: 100%;
}
.sponsors h6 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 45px 0 10px;
        letter-spacing: 2px;
    line-height: 2rem;

    padding: 5px;

}
.realization-logos{

     text-align: center;
        width: 33%;
}

.sponsors ul {
    display: flex;
/*    flex-wrap: wrap;*/
    padding: 0;
        justify-content: space-around;
}
.sponsors li {
    height: 65px;
    /* display: inline-flex; */
    /* margin: 0 20px; */


    margin: 0 15px;
}
.sponsors li img {
    height: 100%;
    position: relative
}
.contact-section {
    height: 100vh;
}
.sponsors-contact {
    backface-visibility: #fff;
        padding: 0;
}
h4 {
    font-size: 5rem;
    /* letter-spacing: -4.7px; */

    color: #5c5252;
    text-transform: uppercase;
    /* font-weight: 900; */

    font-family: Font2;
    margin-left: 20px;
}
.about-concert {
    margin: 0 0 60px 0;
}
.sponsors-galerry {
    display: flex;
    justify-content: center;
}
.realization-section {
    display: flex;

}
.realization-section h6 {
    height: 100px;
}
.realization-section img {
    height: 80px;
}



.patronat-section li {
    height: 45px;
}
.patronat-section ul {
    display: flex;
    padding: 0;
}

.realization-logos div {
    text-align: center;
}

/*    background: #292929;*/


@media screen and (max-width: 992px) {
    html {
        font-size: 60%;
    }

    .mainImage {
        background-size: cover;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 70%;
    }

    h1 {
        color: rgb(77, 167, 168);
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 3.3rem;
        display: inline-block;
        margin: 0;
        padding: 0 0 0;
        /* text-align: left; */
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 5px;
    }


    .dzialaj{
        height: 100%;
    }
    #main-image {



     width: 100%;
   top: -60px;


    }


    .rightSidebar {
        height: auto;
        margin-top: 100vh;
        background: #fff;

    }



    .box1-home p {
        padding: 0 2% 2%;
    }

    .text-lineup-introduce {
      padding: 0 2% 6%;

    }

    .image-lineup {
        width: 50%;
    }

    .rightSidebar > div {
        position: relative;
    }

    .toptext {
        margin-top: 12%;
    }

    .box2-home p {
        padding: 0% 5% 0;
    }

    .text-concert {
        max-width: auto;
        margin-left: 0;
    }

    .contact-block {
        display: none;
    }

    .move-container {}



    .mainImage {




    }

    #cover {
        height: auto;
    }

    .image-lineup {
        height: 350px;
    }






    .band-description {
   position: fixed;
    right: 0;
    top: 0;
    bottom:0;
    left:0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.36);
        margin-left: 0;
}

    .band-text p {
    font-size: 1.6rem;
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    letter-spacing: 1px;
    line-height: 2.6rem;
}
    .band-text h5 {

    color: #ffffff;

}












}

@media screen and (max-width: 485px) {
    html {
        font-size: 70%;
    }
     #pushMenu {
        width: 100%;
    }

    #pushMenu li a {
        font-size: 2rem;


        color: #fff;
    }
     .introduce-section {
        background: #fff;
        margin-top:80vh;
         padding-top: 30px;
       -webkit-box-shadow: 9px -1px 4px 4px rgba(227, 227, 227, 0.75);
-moz-box-shadow: 9px -1px 4px 4px rgba(227, 227, 227, 0.75);
box-shadow: 9px -1px 4px 4px rgba(227, 227, 227, 0.75);


    }

    #lineup{
         margin-top:70vh;
    }
    .text-lineup,.section-lineup, .concert-date{
        color:#fff;
    }

    #about {
    background: #fff;

}
    #lineup {
        background: #292929;
        position: relative;

    }


    .head {
    margin-top: 0;
    margin-right: 0;
    float: none;
    text-align: center;
    margin: 0 atuo;
    width:100%;
    padding: 0;
}
    .head > li:hover {
    border: none;
        box-shadow:none;
    transition: top .15s ease .1s, left .15s ease .1s, box-shadow .15s;
        background: #fff;

}
    #pushMenu li a:hover{
        color:black;
    }

    #pushMenu .head li {
        margin: 0;
        padding: 4px 10px 7px;
        width: 100%;
        text-align: center;
    }
    #lineup h4 {
        color:#fff;
    }

    #pushMenu {

    background: rgba(98, 176, 169, 0.94);

}
    .section-lineup {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 300;
    color: #aaa;
    letter-spacing: 0px;
    float: left;
    padding: 3% 10%;
    color: #6f6161;

    }

    .text-lineup {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .text-concert  {
display: none;
}

    .sponsors h6 {

    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 5px;
    letter-spacing: 2px;
    line-height: 2rem;
    padding: 5px;
        height: auto;

}
    .realization-section {
        display: block;
    }
.realization-logos {
   width:auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 25px 0;

}

    .realization-section h6 {
    height: auto;
    width: 50%;
}



    .realization-section {
    display: flex;
    flex-wrap: wrap;
}

    .realization-logos{

     text-align: center;
        width: auto;
}

    #map {
    width: 100%;
    height: 60vh
}


       .band-description {
   position: fixed;
    right: 0;
    top: 0;
        margin-left:0;
    bottom:0;
    left:0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.36);
}

    .band-text p {
    font-size: 1.3rem;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    letter-spacing: 1px;
    line-height: 2.3rem;
}
    .band-text h5 {

    color: #ffffff;

}
}
.haa{

}

/*
#closeButton {
    width: 50px;
    height: 50px;
    background: red;
}*/
