<div class="container-fluid"> <span id='change-image2'>tutaj2</span>
    <div class="row">
        <div class='col-md-12 sponsors-contact'>
            <div class="col-md-6 contact-section"> </div>
            <div class="col-md-6 sponsors">
                <div class="col-md-12">
                    <h6>Organizatorzy</h6>
                    <ul>
                        <li><img src="/images/sponsors2/zuwp.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                        <li><img src="/images/sponsors2/zumn.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h6>Patronat honorowy</h6>
                    <ul>
                        <li>aaaa<img src="/images/sponsors2/msz_ukrainy.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                        <li> <img src="/images/sponsors2/marszalek_mieczyslaw_struk.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 realization-section">
                    <div class="realization-logos">
                        <h6>Zrealizowano dzięki dotacji <br> Ministra Spraw Wewnętrznych  <br>  i Administracji</h6> <img src="/images/sponsors2/mswia.png" alt="">
                        <a href='#band-nr-1'> </a>
                    </div>
                    <div class="realization-logos">
                        <h6>Dofinansowano <br> ze środków
                Województwa <br>
                Pomorskiego</h6> <img src="/images/sponsors2/logo_pomorskie.png" alt="">
                        <a href='#band-nr-1'> </a>
                    </div>
                    <div class="realization-logos">
                        <h6>Dofinansowano <br> ze środków <br>
                Miasta Gdańska </h6> <img src="/images/sponsors2/logo_gdansk.jpg" alt="">
                        <a href='#band-nr-1'> </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <h6>Partnerzy</h6>
                    <ul>
                        <li><img src="/images/sponsors2/b90.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                        <li><img src="/images/sponsors2/welcome.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                        <li> <img src="/images/sponsors2/ecs.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 patronat-section">
                    <h6>Patronat medialny</h6>
                    <ul>
                        <li> <img src="/images/sponsors2/radio_gdansk.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                        <li> <img src="/images/sponsors2/nasze_slowo.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                    </ul>
                    <ul>
                        <li><img src="/images/sponsors2/harazd.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                        <li> <img src="/images/sponsors2/trojmiasto.png" alt="">
                            <a href='#band-nr-1'> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--

 


    <div class="row">
        <div class="col-md-6 "> 

<img src="/images/logo.jpg" /> 
        
        </div>
        <div class="col-md-6">
            <div class="text-about">
                <h4>O jarmarku</h4>
                <p>Ukraiński Jarmark Młodzieżowy jest najważniejszym przedsięwzięciem kulturalnym organizowanym w Gdańsku przez Oddział Pomorski Związku Ukraińców w Polsce oraz Związek Ukraińskiej Młodzieży Niezależnej.</p>
                <p> Podczas dwóch dni Jarmarku występują młodzieżowe teatry i zespoły wokalno-instrumentalne mniejszości ukraińskiej w Polsce oraz gwiazdy sceny muzycznej z Ukrainy.</p>
                <p> Nazwa „jarmark” odnosi się do różnorodności prezentowanych form twórczości młodych artystów, którzy w kulturze ukraińskiej odnajdują swoje korzenie i inspiracje.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about-gallery">
                    <ul class="first-row">
                        <li class="image-about"><img src="/images/galerry7.jpg" /></li>
                        <li class="image-about"><img src="/images/galerry2.jpg" /></li>
                        <li class="image-about"><img src="/images/galerry6.jpg" /></li>
                        <li class="image-about"><img src="/images/galerry5.jpg" /></li>
                        <li class="image-about"><img src="/images/back7.jpg" /></li>
                        <li class="image-about"><img src="/images/galerry1.jpg" /></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-about">
                        <p>W piątek 20 listopada w cyklu „Mołoda Muza” intrygujący spektakl przedstawi studencki teatr z dalekiego Charkowa, a niezwykły koncert zagra wschodząca gwiazda muzyki alternatywnej, indie rocka z Kijowa, tajemnicza Vivienne Mort. W sobotę 21 listopada w głównym koncercie pojawi się wybuchowa mieszanka folku, rocka, ska, reggae, funky i hip hopu w wykonaniu zespołów z Polski i Ukrainy, a koncert ten uświetni legendarna ukraińska grupa TNMK (Tanok na Majdani Kongo). Hasło tegorocznego Jarmarku „My Razom” oznacza, że chociaż żyjemy tutaj, to sercem i myślami jesteśmy z Ukrainą i chcemy razem wspierać ukraiński naród w trudnych czasach, kiedy wciąż tli się wojna na wschodzie kraju, a Krym jest nadal okupowany. Bądźmy więc solidarni, bądźmy RAZEM!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-gallery">
                    <ul class="first-row">
                        <li class="image-about"><img src="/images/back7.jpg" /></li>
                    </ul>
                </div>
            </div>
        </div>

</div>-->