<div id="nav-icon4"> <span></span> <span></span> <span></span></div>
<pushing-menu></pushing-menu>
<div id="full-content">
<div class="container-fluid">
    <div id="content">

        <div id="bands-front">
            <div class="row">
               
                <div class="col-md-6-offset col-md-6 col-sm-6  band-container">
                   
                    <ul class="portfolio clearfix  band-galerry">
                         <li > <img src="/images/etnoxl2.jpg" alt="TobyMac">
                           <div class="mask "><a href='#band-nr-1'> </a></div>
                            <div class="text">
                                <div>
                                    <p>Etno XL</p>
                                </div>
                            </div>
                           
                        </li>
                        <li> <img src="/images/horpyna.jpg" alt="Hollyn">
                            <div class="mask"><a href='#band-nr-2'></a></div>
                            <div class="text">
                                <div>
                                    <p>Horpyna</p>
                                </div>
                            </div>
                            
                        </li>
                        <li> <img src="/images/folk4.jpg" alt="Hollyn">
                            <div class="mask "><a href='#band-nr-3'></a></div>
                            <div class="text">
                                <div>
                                    <p>The Ukrainian Folk</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li> <img src="/images/kryvoda.jpg" alt="Hollyn">
                            <div class="mask "><a href='#band-nr-4'></a></div>
                            <div class="text">
                                <div>
                                    <p>Kryvoda</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li> <img src="/images/otorvald.jpg" alt="Hollyn">
                            <div class="mask mask5 "><a href='#band-nr-5'></a></div>
                            <div class="text selected">
                                <div>
                                    <p>O.Torvald</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li> <img src="/images/dobroto.jpg" alt="Hollyn">
                            <div class="mask "><a href='#band-nr-6'></a></div>
                            <div class="text">
                                <div>
                                    <p>Dobroto</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li> <img src="/images/harazd.jpg" alt="Hollyn">
                            <div class="mask  "><a href='#band-nr-7'></a></div>
                            <div class="text">
                                <div>
                                    <p>Harazd</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li> <img src="/images/rekarpaty2.jpg" alt="Hollyn">
                            <div class="mask "><a href='#band-nr-8'></a></div>
                            <div class="text">
                                <div>
                                    <p>Re-Karpaty</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li> <img src="/images/hawran.jpg" alt="Hollyn">
                            <div class="mask "><a href='#band-nr-9'></a></div>
                            <div class="text">
                                <div> Roman Hawran </div>
                            </div>
                            </a>
                        </li>
                        <li> <img src="/images/hawran.jpg" alt="Hollyn">
                            <div class="mask "><a href='#band-nr-10'></a></div>
                            <div class="text">
                                <div> Legends </div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6-offset col-md-6 col-sm-6 band-description ">
                   
                    <div class=''>
                        <ul class="band-text">
                            <span id="closeButton">close</span>
                            <li  id='band-nr-1'>
                                 <h5>Etno XL</h5>
                    <p>Więcej niż etno! Zespół założony w 2004 roku w ukraińskim mieście Równe. W swojej muzyce łączy wiele stylów od ska i funky do tradycyjnego rocka i punk rocka. Główną rolę w zespole odgrywa tradycyjny ukraiński śpiew, który nadaje niepowtarzalny nastrój muzyce Etno XL. Prostota i szczerość pięknych głosów i melodii połączona ze współczesnymi instrumentami tworzy na scenie niepowtarzalne show.</p>
                            </li>
                            <li id='band-nr-2'> <h5>Horpyna</h5>
                    <p>" Horpyna", to czołowy przedstawiciel ukraińskiej sceny muzycznej w Polsce, istniejący nieprzerwanie od 1999 roku. Przez te wszystkie lata Horpyna ewoluowała od tradycyjnego folku a nawet folkloru przez utwory tradycyjne grane w stylistyce rocka aż do tworzenia własnych kompozycji o folkowo-rockowym brzmieniu. Dziś, repertuar Horpyny to folk-rock osadzony w klimatach ukraińskich w których czuje się zadziornego kozackiego ducha a bogata historia dyskografii zespołu pozwala uznać go za jedną z najbardziej nowatorskich grup muzycznych w Polsce i jednocześnie prekursora tego nurtu wśród zespołów ukraińskich. Za Horpyną już kilkaset występów zarówno w kraju jak i zagranicą (Niemcy, Austria, Francja, Czechy, Słowacja, Rosja, Ukraina, Litwa, Kanada) jak również występów dla TVP. Bez względu na miejsce, czas i wiek, Horpyna jest gwarancją niezapomnianych przeżyć i dobrej zabawy.</p></li>
                            <li id='band-nr-3'> <h5> The Ukrainian Folk</h5>
                        <p>The Ukrainian Folk - Folkowo-rockowa formacja, znana wcześniej jako „Ruch”. Od ponad 20 lat muzycy nadają nowe i oryginalne brzmienia tradycyjnym ukraińskim ludowym utworom. Sławni nie tylko w Polsce ale też poza jej granicami po raz kolejny rozgrzeją jarmarkową publiczność  i zapewnią nam doskonałą zabawę.</p></li>
                            <li id='band-nr-4'><h5>Kryvoda</h5>
                    <p>Metalowy zespół założony w Przemyślu w 2011 jako Leverkiros, od 2013 roku grający pod nazwą Kryvoda, posiadający na swoim koncie demo „Kruki”. Muzyczną ideą zespołu jest tworzenie death metalowej muzyki wykorzystującej wpływy folklorystyczne. Rolę prowadzącą pełni sopiłka, a towarzyszy jej klasyczny metalowy skład. Kryvoda w większości wykonuje własne kompozycje, chociaż w repertuarze ma także aranżacje pieśni ludowych.</p></li>
                            <li class='selected' id='band-nr-5'><h5> O.Torvald</h5>
                                <p> zespół rockowy z Kijowa założony w 2005 roku, mający na swoim koncie setki koncertów zagranych nie tylko w Ukrainie, ale też w innych częściach Europy. Zespół szybko i wszechstronnie się rozwija, eksperymentuje, nadając współczesnej muzyce ukraińskiej nowe brzmienie i zyskuje coraz większą popularność wśród młodej ukraińskiej publiczności. Ich muzyka to połączenie popu, rocka i punku z lekkim chuligańskim akcentem. Koncerty O.Torvald są niepowtarzalnym zjawiskiem energetycznym, a charyzmatyczna osobowość lidera grupy – Żeni Hałycza porywa nawet najbardziej zatwardziałą publiczność.

Energia, moc i szaleństwo – tego możemy spodziewać się na Jarmarkowym koncercie O.Torvald.</p>
                            </li>
                            <li id='band-nr-6'><h5>Dobroto</h5>
                    <p>Zespół powstał w 2011 roku ze współpracy dwóch formacji: Tygiel Folk Banda z Ełku i Kadarka z Gdańska. Jesienią b.r. wydał swoją debiutancką płytę. Muzykę Dobroto trudno jest sklasyfikować, ponieważ artyści czerpią z wielu gatunków, łącząc wielogłos ukraiński z muzyką świata. Wykonują głównie tradycyjne pieśni ukraińskie w nowych melodyjnych aranżacjach, ale też autorskie kompozycje. Ich twórczość wyróżnia muzyczny koloryt, a ich koncerty są pełne pasji i tradycji.</p></li>
                            <li id='band-nr-7'> <h5>Harazd</h5>
                    <p>Ukraiński folk z domieszką rocka? To właśnie zespół HarazD. Grają utwory ukraińskie we własnych aranżacjach, choć coraz częściej ze sceny możemy usłyszeć ich autorskie kompozycje. Nazwa zespołu w języku ukraińskim oznacza tyle co „OK”, „wszystko w porządku”, co jak twierdzą muzycy odzwierciedla pozytywną atmosferę i relacje między muzykami.</p></li>
                             <li id='band-nr-8'>  <h5>Re-Karpaty</h5>
                    <p>RE-Karpaty to nowy projekt powstały w marcu tego roku w Nysie, w środowisku studentów Instytutu Jazzu. Inspiracjami muzyków są piękne, tradycyjne melodie z rejonu Karpat, które w połączeniu z alternatywnymi harmoniami i rytmem dają w efekcie świeżą, ethno-jazzową mieszankę. Zespół ma już na swoim koncie sukces: I miejsce w konkursie ATA 2016 (Aneks Twórczości Artystycznej) w Namysłowie.</p></li>
                            <li id='band-nr-9'> <h5>Roman Hawran</h5>
                    <p>Roman Hawran (Legnica) – absolwent krakowskiej AGH, artysta nieprzeciętny, ukraiński bard, legenda Młodzieżowych Jarmarków z lat osiemdziesiątych, nazywany często „ukraińskim Kaczmarskim”. Wykonuje poezję śpiewaną, a do swojego repertuaru wybrał poetyckie strofy Szewczenki, Symonenki, Stusa i  ukraińskich poetów z Polski. Znakomity głos,  doskonały akompaniament gitary, a przy tym niezwykła skromność artysty sprawiają, że jego koncerty  mają niezwykły klimat i wywołują wiele emocji. Wystąpił na Festiwalu Kultury Ukraińskiej w Operze Leśnej w Sopocie (2008), koncertuje na rodzinnej Łemkowszczyźnie  (m.in. na Łemkowskiej Watrze w Zdyni), na północy Polski.  Wydał płytę „Na rikach kruh Wawiłona” (Na rzekach wokół Babilonu).</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>