<div class="entry-content">
	
	                    <p><strong>REGULAMIN KLUBU B90</strong></p>
<p>§ 1. WARUNKI OGÓLNE.<br>
1. Niniejszy Regulamin określa warunki uczestnictwa w imprezach organizowanych w Klubie B90, znajdującym się przy ul. Doki 1 w Gdańsku – na terenie byłej Stoczni Gdańskiej<br>
2. Niniejszy Regulamin został sporządzony w oparciu o obowiązujące przepisy prawa, a w szczególności o przepisy ustawy z dnia 20 marca 2009 r. o bezpieczeństwie imprez masowych (Dz. U. z 2009 r. Nr 62 poz. 504 ze zm.) oraz Kodeksu cywilnego – ustawa z dnia 23 kwietnia 1964 r. (Dz. U. z 1964 Nr 16 poz. 93 ze zm.).<br>
3. Niniejszy Regulamin jest wydany przez Organizatora Imprezy – Sopocka Odessa z siedzibą w Sopocie przy ul. Boh. Monte Cassino 54, 81-759 Sopot, NIP: 585 133 63 52, REGON: 810475070 (dalej: „Organizator”).<br>
4. Wejście na teren Imprezy oznacza zapoznanie się i akceptację niniejszego Regulaminu.<br>
5. Użyte w niniejszym Regulaminie pojęcia posiadają następujące definicje:<br>
1) Bilet – uprawnienie do uczestniczenia w Imprezie, wymieniane przez Organizatora na Opaskę.<br>
2) Opaska – indywidulany identyfikator wymieniany za zwrotem Biletu.<br>
3) Teren Imprezy – należy przez to rozumieć miejsce gdzie będzie odbywała się Impreza (Klub B90 ul. Doki 1 Gdańsk)<br>
4) Regulamin obiektu – warunki przebywania oraz korzystania z obiektu, w tym znajdujących się tam urządzeń, a także zakazu wstępu w miejsca nieprzeznaczone dla publiczności wydane przez właściciela obiektu .<br>
5) Kierownik do spraw bezpieczeństwa – należy przez to rozumieć osobę wyznaczoną przez Organizatora, reprezentującą go w zakresie zapewnienia bezpieczeństwa Uczestnikom Imprezy.<br>
6) Służba informacyjna – osoby podlegające kierownikowi do spraw bezpieczeństwa, wyznaczone przez Organizatora; posiadające właściwy identyfikator nadany przez Organizatora.<br>
7) Służbie porządkowej – osoby podlegające Kierownikowi do spraw bezpieczeństwa, wyznaczone przez Organizatora, legitymujące się ważną licencją pracownika ochrony fizycznej, o której mowa w art. 26 lub 27 ustawy z dnia 22 sierpnia 1997 r. o ochronie osób i mienia (Dz. U. z 2005 r. Nr 145, poz. 1221,<br>
ze zm.), posiadające właściwy identyfikator nadany przez Organizatora.<br>
8) Uczestnik – osoba fizyczna uprawniona do udziału w Imprezie, posiadająca ważny Bilet.<br>
9) Ustawa – ustawy z dnia 20 marca 2009 r. o bezpieczeństwie imprez masowych (Dz. U. z 2009 r. Nr 62 poz. 504 ze zm.).</p>
<p>§ 2. WSTĘP NA TEREN IMPREZY.<br>
1. Wstęp na teren Imprezy mają osoby posiadające ważny dokument tożsamości, Bilet i posiadające nie mniej niż 18 lat.<br>
2. Osoby posiadające nie mniej niż 16 lat mają prawo wstępu na Imprezę, za okazaniem Biletu, wyłącznie ze swoim dorosłym opiekunem posiadającym ważny Bilet.<br>
3. Uczestnik przyjmuje do wiadomości, że Organizator może zażądać od Uczestnika okazania dokumentu potwierdzającego jego tożsamość.<br>
4. Uczestnik przyjmuje do wiadomości, że przy pierwszym wejściu na Imprezę Bilet zostaje wymieniony przez Organizatora na Opaskę. Opaska zostaje trwale założona na rękę Uczestnika. Z Opaski może korzystać tylko jedna osoba. Zdjęcie Opaski z ręki równoważne jest z rezygnacją z udziału w Imprezie. W celu uniknięcia wątpliwości uszkodzenie lub zerwanie Opaski z ręki poza terenem Imprezy jest równoznaczne z rezygnacją z Imprezy. Organizator wymienia Opaskę w przypadku jej uszkodzenia lub zerwania z ręki wyłącznie gdy nastąpiło to na terenie Imprezy.<br>
5. Organizator może odmówić wstępu na Imprezę osobom:<br>
1) nie posiadającym Biletu lub Opaski,<br>
2) nie posiadającym dokumentu tożsamości,<br>
3) wobec, których zostało wydane prawomocne orzeczenie zakazujące wstępu na imprezy masowe lub zobowiązujące do powstrzymania się od przebywania w miejscach przeprowadzania imprez masowych, wydane przez sąd wobec skazanego w związku z warunkowym zawieszeniem wykonania kary pozbawienia wolności albo wobec nieletniego na podstawie art. 6 pkt. 2 ustawy z dnia 26 października 1982 r. o postępowaniu w sprawach nieletnich, a także osobom wobec których został wydany zakaz zagraniczny lub klubowy w rozumieniu Ustawy,<br>
4) znajdującym się pod wpływem alkoholu lub środków odurzających,<br>
5) posiadającym ubiór utrudniający rozpoznanie (np. kominiarki),<br>
6) które swoim zachowaniem naruszają porządek, są agresywne lub w inny sposób zagrażają bezpieczeństwu i porządkowi Imprezy.<br>
6. Organizator zapewnia:<br>
1) spełnienie wymogów określonych, w szczególności, w przepisach prawa budowlanego, w przepisach sanitarnych i przepisach dotyczących ochrony przeciwpożarowej;<br>
2) udział służb porządkowych, służb informacyjnych oraz kierującego tymi służbami kierownika do spraw bezpieczeństwa;<br>
3) zaplecze higieniczno-sanitarne;<br>
4) wyznaczenie dróg ewakuacyjnych oraz dróg umożliwiających dojazd pojazdom służb ratowniczych i Policji;<br>
5) warunki do zorganizowania łączności pomiędzy podmiotami biorącymi udział w zabezpieczeniu Imprezy;<br>
6) sprzęt gaśniczy oraz środki gaśnicze niezbędne do zabezpieczenia Imprezy w zakresie działań ratowniczo-gaśniczych;<br>
7) wydzielone pomieszczenia dla służb kierujących zabezpieczeniem Imprezy.</p>
<p>§ 3. SPRZEDAŻ BILETÓW.<br>
1. Uczestnicy nie posiadający ważnych Biletów mogą dokonać ich zakupu w kasach Imprezy.<br>
2. Osoba dokonująca zakupu Biletu może zapłacić gotówką lub kartą płatniczą.<br>
3. Uczestnik przyjmuje do wiadomości, że liczba Biletów dostępnych w kasach Imprezy jest ograniczona.<br>
4. Uczestnik przyjmuje do wiadomości, że zgodnie z art. 133 § 1 Kodeksu wykroczeń Kto nabywa w celu odprzedaży z zyskiem bilety wstępu na imprezy artystyczne, rozrywkowe lub sportowe albo kto bilety takie sprzedaje z zyskiem, podlega karze aresztu, ograniczenia wolności albo grzywny.</p>
<p>§ 4. ZASADY ORGANIZACYJNE I PORZĄDKOWE OBOWIĄZUJĄCE NA TERENIE IMPREZY.<br>
1. Uczestnicy Imprezy zobowiązani są stosować się do zarządzeń i poleceń Służb Porządkowych.<br>
2. Służby Porządkowe legitymujące się identyfikatorem wydanym przez Organizatora umieszczonym w widocznym miejscu, są uprawnione zgodnie z przepisami Ustawy do:<br>
1) sprawdzania i stwierdzania uprawnień do uczestniczenia w Imprezie, a w przypadku stwierdzenia braku takich uprawnień – wezwania ich do opuszczenia Imprezy;<br>
2) legitymowania Uczestników w celu ustalenia ich tożsamości;<br>
3) przeglądania zawartości bagaży i odzieży Uczestników, w przypadku podejrzenia, że Uczestnicy wnoszą lub posiadają przedmioty, o których mowa w ust. 4 poniżej;<br>
4) wydawania poleceń porządkowych Uczestnikom zakłócającym porządek publiczny lub zachowującym się niezgodnie z Regulaminem lub Regulaminem obiektu (terenu), a w przypadku niewykonania tych poleceń – wezwania ich do opuszczenia Imprezy;<br>
5) ujęcia, w celu niezwłocznego przekazania Policji, osób stwarzających bezpośrednie zagrożenie dla dóbr powierzonych ochronie oraz osób dopuszczających się czynów zabronionych.<br>
6) stosowania siły fizycznej w postaci chwytów obezwładniających oraz podobnych technik ochrony w przypadku zagrożenia dóbr powierzonych ochronie lub odparciu ataku na przedstawiciela Służb Porządkowych lub inną osobę, na zasadach określonych w art. 38 Ustawy z dnia 22 sierpnia 1997 r.<br>
o ochronie osób i mienia (Dz. U. Nr. 114, poz. 740, ze zm.).<br>
3. Uczestnicy Imprezy są obowiązani zachowywać się w sposób nie zagrażający bezpieczeństwu innych osób, a w szczególności przestrzegać postanowień Regulaminu Imprezy.<br>
4. Uczestnikom zabrania się wnoszenia i posiadania na terenie Imprezy:<br>
1) broni lub innych niebezpiecznych przedmiotów,<br>
2) materiałów wybuchowych, wyrobów pirotechnicznych,<br>
3) materiałów pożarowo niebezpiecznych,<br>
4) napojów alkoholowych,<br>
5) środków odurzających lub substancji psychotropowych.<br>
5. Na terenie Imprezy zabrania się:<br>
1) wprowadzania zwierząt,<br>
2) prowadzenia jakiejkolwiek działalności handlowej, reklamowej, akwizycyjnej i przeprowadzania zbiórek pieniężnych bez zgody Organizatora,<br>
3) wchodzenia lub przechodzenia przez budowle i urządzenia nie przeznaczone do powszechnego użytku (np. płoty, mury, maszty, słupy, dachy);<br>
4) wchodzenia na obszary nieprzeznaczone dla widzów (np.: zaplecze sceny, pomieszczenia służbowe);<br>
5) rzucania wszelkimi przedmiotami;<br>
6) pisania na budowlach, ścianach, urządzeniach, drogach, ich malowania i oklejania;<br>
7) zaśmiecania terenu Imprezy.<br>
6. Uczestnik przyjmuje do wiadomości, że zgodnie z Ustawą Organizator jest uprawniony do utrwalania przebiegu imprezy masowej, a w szczególności zachowania osób w niej uczestniczących, za pomocą urządzeń rejestrujących obraz i dźwięk. Materiały zgromadzone podczas utrwalania przebiegu Imprezy, mogące stanowić dowody pozwalające na wszczęcie postępowania karnego albo postępowania w sprawach o wykroczenia. Zgromadzone podczas utrwalania przebiegu Imprezy materiały, niezawierające dowodów pozwalających na wszczęcie postępowania karnego albo postępowania w sprawach o wykroczenia lub dowodów mających znaczenie dla toczących się takich postępowań, organizator przechowuje po zakończeniu Imprezy przez okres co najmniej 60 dni, a następnie komisyjnie je niszczy.<br>
7. Uczestnik przyjmuje do wiadomości, że na Imprezie będą sprzedawane, podawane i spożywane napoje alkoholowe zawierających nie więcej niż 3,5% alkoholu.<br>
8. Sprzedaż, podawanie i spożywanie napojów alkoholowych będzie odbywać się wyłącznie w miejscach do tego wyznaczonych.</p>
<p>§ 5. PRAWA I OBOWIĄZKI UCZESTKNIKÓW IMPREZY.<br>
1. Uczestnicy naruszający zasady bezpieczeństwa i porządku na terenie Imprezy będą pociągnięci do odpowiedzialności karno-administracyjnej.<br>
2. Uczestnicy naruszający postanowienia niniejszego Regulaminu zostaną usunięci z terenu Imprezy lub przekazani Policji.<br>
3. Uczestnik przyjmuje do wiadomości, że w przypadku usunięcia z terenu Imprezy, zgodnie z postanowieniami niniejszego Regulaminu lub przepisami Ustawy Uczestnikowi nie przysługuje prawo zwrotu należności za Bilet, koszty przybycia Imprezę, ani inne roszczenia.<br>
4. Uczestnik przyjmuje do wiadomości, że:<br>
1) Kto nie wykonuje polecenia porządkowego, wydanego na podstawie Ustawy lub Regulaminu przez Organizatora lub Służby Porządkowe lub Informacyjne, podlega karze aresztu, ograniczenia wolności albo grzywny.<br>
2) Kto wnosi lub posiada na Imprezie broń, inne niebezpieczne przedmioty, materiały wybuchowe, wyroby pirotechniczne lub materiały pożarowo niebezpieczne, podlega karze aresztu albo ograniczenia wolności.</p>
<p>§ 6. REKLAMACJE.<br>
1. Uczestnicy Imprezy mogą składać reklamacje, w terminie 14 dni od dnia zakończenia Imprezy. Reklamacja powinna być złożona w formie pisemnej na adres Organizatora.<br>
2. Pisemna reklamacja powinna zawierać imię i nazwisko, dokładny adres oraz podpis Uczestnika, jak również dokładny opis i powód reklamacji.<br>
3. Organizator pisemnie poinformuje Uczestnika o wyniku postępowania reklamacyjnego.</p>
<p>§ 7. POSTANOWIENIA KOŃCOWE.<br>
1. Nazwy handlowe, nazwy, opisy lub znaki towarowe rozpowszechnione w trakcie Imprezy podlegają ochronie prawnej.<br>
2. Niniejszy Regulamin dostępny jest na stronie internetowej www.b90.pl<br>
3. W sprawach nieuregulowanych zastosowanie mają obowiązujące przepisy prawa, a w szczególności Ustawa.<br>
4. Wszelkie spory wynikające z realizacji postanowień niniejszego Regulaminu rozpatrywane będą przez sąd powszechny, którego właściwość zostanie określona według przepisów ustawy z dnia 17 listopada 1964 r. Kodeks postępowania cywilnego (Dz. U. z 1964 r. Nr 43 poz. 296 ze zm.).</p>
<p>Źródło: <em><a href="http://www.b90.pl/klub/" onclick="__gaTracker('send', 'event', 'outbound-article', 'http://www.b90.pl/klub/', 'http://www.b90.pl/klub/');">http://www.b90.pl/klub/</a></em></p>
	
					</div>