<div class="container-fluid">
    <div id="nav-icon4"> <span></span> <span></span> <span></span></div>
<pushing-menu></pushing-menu>
    <div clas='row'>
    <div class="col-md-6">
            <div id="map"> </div>
        </div>
    <div class=" col-md-6"> 
        <div class="text-map">
            <p>Klub <span>B90</span> znajduje się na terenie Stoczni Gdańskiej wejście piesze przez główną bramę Stoczni przy ul. Doki. Klub znajduje się ok. 300 m za Europejskim Centrum Solidarności (ECS) wjazd – przez biały wiadukt na wysokości Placu Zebrań Ludowych na ul. Nowa Wałowa</p>
            <p><span>wejście przez Bramę Stoczni</span></p>
            <p>- ok. 300 m za budynkiem Europejskiego Centrum Solidarności;</p>
            <p><span>wjazd od ul. Nowa Wałowa</span></p>
            <p> – przez biały wiadukt na wysokości Placu Zebrań Ludowych</p>
            <p><span>dojazd tramwajem</span></p>
            <p> – przystanek Stocznia SKM linia 8, 10</p>
            <p><span>dojazd SKM</span></p>
            <p> – przystanek Gdańsk Stocznia</p>
        </div>
        </div>
    </div>
   
</div>

   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0uA3_AojvbZcY1ezsUxh_osVIh6uTtgQ&callback=initMap"></script>
