
<section id="cover">
    <div class="container-fluid">
        <div id="content">
            <div class='row'>
                <div class="col-xl-6 col-md-6 col-sm-6 mainImage" id="main-image">
</div>
                <div class="col-sm-offset-6 col-sm-6 col-md-offset-6 col-xl-5 col-md-6 col-sm-6 rightSidebar">
                    <div class="col-md-12  ">
                        <div class='box1-home toptext'>
                            <span id='change-image3'>tutaj1</span>
                <h1>Jarmarock Fest</h1>
                               
                             
                           <p> to wydarzenie teatralno-muzyczne, które każdego roku przyciąga do Gdańska rzesze Ukraińców oraz sympatyków z całej Polski.</p>
                    </div>
                       
                    <div class="box2-home">
                        <p>Przez dwa kolejne dni na Jarmarkowej scenie będziemy mogli ujrzeć największe gwiazdy muzyki z Ukrainy oraz wykonawców z Polski, którzy w kulturze ukraińskiej odnajdują swoje korzenie i inspiracje. Jak co roku, organizatorzy postarają się dostarczyć niezapomnianych emocji, przygotowując program imprezy tak, aby każdy mógł znaleźć w nim coś dla siebie.
                       
                       
                    </div>
                         <a href="http://www.b90.pl/koncerty/jarmarock-fest-40-ukrainski-jarmark-mlodziezowy/"><md-button class="md-raised md-warn">KUP BILET</md-button></a>
                </div>
                    </div>
            </div>
        </div>
    </div>

</section>
