<div class="container-fluid" id='about'>
    <div class="about-concert">
        <div class="row">
            
            <div class="col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6   introduce-section"> 
                 <span id='change-image4'>tutaj4</span><h4> o koncercie</h4>
                <div class='text-lineup-introduce'>
              
               
                    <p>W tym roku przypada jubileuszowa 40-ta edycja imprezy, organizatorzy postanowili nadać jej nową, ale nawiązującą do tradycji nazwę. Słowo „jarmark” (po ukraińsku jarmarok) odnosi się do różnorodności prezentowanych form i gatunków twórczości młodych artystów, którzy w kulturze ukraińskiej odnajdują swoje korzenie i czerpią z niej inspiracje. Dominującym elementem przedsięwzięcia o charakterze festiwalowym pozostaje jednak muzyka rockowa w najróżniejszym brzmieniu, stąd nazwa wydarzenia <span>JarmaRock FEST</span>.</p>
                                          
            </div></div>
        </div>
        <div class="row">
            <div class="col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6">
                <div class="text-concert" id="molodamuza">
                    <h5>Mołoda Muza </h5>
                    <p> world music, poezja śpiewana, ethno, jazz, ska, funky, folk, rock</p>
                </div>
                <div class="text-concert" id="legends">
                    <h5>JarmaRock Legendy & Orkiestra </h5>
                    <p>koncert jubileuszowy z udziałem orkiestry i znanych wokalistów występujących na Jarmarkowej scenie w poprzednich edycjach JarmaRock </p>
                </div>
                <div class="text-concert" id="hulanka">
                    <h5>Hulanka </h5>
                    <p>ostre rockowe brzmienia oraz folkowe skoczne melodie zapraszające do tańca</p>
                </div> <span id='change-image'>tutaj1</span> </div>
        </div>
    </div>
    <div class="row" id='lineup'>
        <div class="col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 ">
            <h4>line-up</h4>
            <div class="section-lineup">
                <div class='concert-date'>
                    <h6>Piątek, 18.11.2016</h6>
                    <p><span>Otwarcie bram godz. 19.00</span></p>
                </div>
                <div class=" text-lineup">
                    <p> <span>20.00</span> Dobroto (Warszawa-Gdańsk) </p>
                    <p> <span>21.00</span> Roman Hawran (Legnica) </p>
                    <p> <span>21.40</span> RE-Karpaty (Nysa) </p>
                    <p> <span>22.40</span> Etno XL (Równe UA) </p>
                    <p><span>00.00- 04.30</span> DJ Danny V. (Northsiders) </p>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 ">
            <div class="section-lineup">
                <div class='concert-date'>
                    <h6>Sobota, 19.11.2016</h6>
                    <p> godz. 18.00 – otwarcie bram </p>
                </div>
                <div class="text-lineup">
                    <p><strong>19.00 Koncert Jubileuszowy JarmaRock Legendy & Orkiestra</strong></p>
                    <p>21.00 O.Torvald (Kijów UA) – rock</p>
                    <p>22.40 The Ukrainian Folk (Górowo Iławeckie) folk-rock</p>
                    <p>23.40 Horpyna (Olsztyn) folk-rock</p>
                    <p>00.40 Kryvoda (Przemyśl) – folk death metal</p>
                    <p>01.40-04.30 Harazd (Olsztyn) – folk</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
        <div class="row ticket-section">
             <h5>Bilety</h5>
        <div class="col-md-5 text-ticket">
            
            <div>
                <p> przedsprzedaż</p>
                <hr>
                <p> <strong>Piątek</strong> 15zł/30zł </p> <p><strong> Sobota</strong> 49zł/69zł  </p><strong><p>Piątek + Sobota</strong> 59zł/79/zł</p>
                
            </div>
         <div>
             <p> w dniu koncertu</p>
             <hr>
                <p> <strong>Piątek</strong> 15zł/30zł </p> <p><strong> Sobota</strong> 60zł/90zł </p> <p><strong>Piątek + Sobota</strong> 70zł/90/zł</p>
            </div>
        </div>
       <div class="col-md-7 text-ticket">
           
    </div>
    </div>
-->