<div ng-controller='NewsCtrl'>

<div id="nav-icon4"> <span></span> <span></span> <span></span></div>
<pushing-menu></pushing-menu>
<div id="full-content">
    <top-header></top-header>
    <!--<section-about></section-about>-->
    <section-lineup></section-lineup>
    <!--    <section-bands></section-bands>-->
    <!--<section-news></section-news>-->

    <div class="container-fluid">
   
        <div class='row'>
          <div class="col-md-6"></div>
          <div class="col-md-6 col-sm-6 col-xs-12  news-container">
                     <span id='change-image5'>tutaj5</span>
            <div class="row news1"><h4 class="news">Aktualności</h4>
            <div class="col-md-6 col-sm-6  col-xs-6 fbNews">
              <a ng-href="{{news[0].link}}" target="_blank"><img class="fbImg1" src="{{news[0].bigPhoto}}"></a>
            </div>
              <div class="col-md-6 col-sm-6 col-xs-6 fbInfo">
              <h3 class="fbTitle1">{{news[0].name}}</h3>
              <p class="fbMsg1">{{news[0].message}}</p>
            </div>
          </div>
            <div class="row news2">
              <div class="col-md-6 col-sm-6  col-xs-6 fbInfo">
                <h3 class="fbTitle2">{{news[1].name}}</h3>
                <p class="fbMsg2">{{news[1].message}}</p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 fbNews">
                <a ng-href="{{news[1].link}}" target="_blank"><img class="fbImg2" src="{{news[1].bigPhoto}}"></a>
              </div>
            </div>
            <div class="row news3">
              <div class="col-md-6 col-sm-6  col-xs-6 fbNews">
                <a ng-href="{{news[2].link}}" target="_blank"><img class="fbImg3" src="{{news[2].bigPhoto}}"></a>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 fbInfo">
                <h3 class="fbTitle3">{{news[2].name}}</h3>
                <p class="fbMsg3">{{news[2].message}}</p>
              </div>
            </div>
            <div class="row news4">
              <div class="col-md-6 col-sm-6 col-xs-6 fbInfo">
                <h3 class="fbTitle4">{{news[3].name}}</h3>
                <p class="fbMsg4">{{news[3].message}}</p>
              </div>
              <div class="col-md-6 col-sm-6  col-xs-6 fbNews">
                <a ng-href="{{news[3].link}}" target="_blank"><img class="fbImg4" src="{{news[3].bigPhoto}}"></a>
              </div>
            </div>
        </div>
    </div>
    <div id="mapSector">
        <!--    <club-Map></club-Map>-->
        <section-about></section-about>
    </div>
</div>
</div>
</div>