<nav id='pushMenu'>
    <div class='row'></div>
    <ul class="head">
        <li class="active"><a href="#/">Strona Główna</a></li>
        <li><a ng-href="#/">O koncercie</a></li>
        <li><a ng-href="#/bands">Zespoły</a></li>
    
        <li><a ng-href="#" scroll-to="news"> Nowości</a></li>
        <li><a ng-href="#/map">Mapa</a></li>
        <li><a ng-href="#/terms">Regulamin klubu</a></li>
    </ul>
    <div class="column col-7">
        <hr class="h m">
        <div class="contact-block"> <strong>Email</strong> <a class="data-bypass">supermail.com</a> </div>
        <div class="contact-block"> <strong>Direct Line</strong> <span>(+48) 123-12345</span> </div>
        <div class="contact-block"> <strong>Opening hours</strong> <span>Monday - Friday: 11 am / 6 pm</span> </div>
        <div class="social-icons">
            <a target="_blank" href='https://www.instagram.com/jarmarockfest'><img src='images/New folder/icon2/instagram.svg'></a> 
            
            
            
             <a target="_blank" href='https://www.facebook.com/Jarmarok/?fref=ts'><img src='/images/New folder/icon2/facebook2.svg'></a>
            <!--                        <img src='/images/snap.svg'>-->
            <a target="_blank" href='https://www.youtube.com/user/JarmarokTV'><img src='/images/New folder/icon2/youtube.svg'></a>
        </div>
    </div>
</nav>