<div ng-controller="NewsCtrl" ng-cloak>
  <md-grid-list
    md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
    md-row-height-gt-md="1:1" md-row-height="2:2"
    md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile class=""
                  md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="item in news | limitTo:1:0">
      <img src="{{item.bigPhoto}}" alt="">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="" ng-repeat="item in news | limitTo:1:1">
      <img src="{{item.bigPhoto}}" alt="">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="" ng-repeat="item in news | limitTo:1:2">
      <img src="{{item.bigPhoto}}" alt="">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class=""
                  md-rowspan="2" ng-repeat="item in news | limitTo:1:3">
      <img src="{{item.bigPhoto}}" alt="">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class=""
                  md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="item in news | limitTo:1:4">
      <img src="{{item.bigPhoto}}" alt="">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class=""
                  md-rowspan="2" ng-repeat="item in news | limitTo:1:5">
      <img src="{{item.bigPhoto}}" alt="">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</div>
