{{articleId}},
{{news}}

<h1>DUUUUUUUUUUUUUUUUUUUUUUUUPA</h1>



<div class="fblayout">
<md-list layout="flex" layout-align="center center">

  <md-list-item class="md-2-line" >
    <div class="md-list-item-text">
    	
    	<h6> {{article.updated_time | date: "dd.MM.yyyy" }} </h6>
    	

					<img class="fbImg" ng-src="{{article.picture}}"/> 
			
			<a href="#/article/{{article.id}}">
						<h1 class="fbarticle">{{article.name}}</h1>
					</a>
			
					<p class="fbText">{{article.description}}</p>
				
    </div>